body{
  font-family: Tahoma, sans-serif;
  padding: 0;
  margin:0;
  background-color: #f4f4f4;
  color: #3c326e;
}
.container{
  margin: auto;
  text-align: center;
  width: 60%;
}


.main {
  background-image: url('../assets/mpg.jpg');
  background-size: cover;
  background-color: rgba(255,255,255,0.6);
  background-blend-mode: lighten;
  padding-bottom: 150px;
}

ul{
  margin: 0;
  padding: 0;
  list-style-type:none;
}
h1{
  font-size: xx-large;
  font-weight: normal;
}
h2{
  font-weight: normal;
}
h3{
  font-size: medium;
}
h4{
  padding-left: 20px;
  font-weight: normal;
}

ul ul {
  padding-left: 10px;
}

/* Header */
header{
  background: aliceblue;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #77728f 3px solid;
  color: #202436;
}

@media(max-width: 768px){
  header #branding,
  article#main-col,
  header{
    padding-bottom: 20px;
  }
}
